.header,.dl-main-nav {
	background-color:#118790;
}
/* 17 135 144*/
.nav-list .dl-selected .nav-item-inner{
	color:#118790;
}
.bui-side-menu a:hover{
	color:#118790;
} 
.bui-side-menu .bui-menu-title,.bui-side-menu .bui-menu-title s,.bui-side-menu .menu-second a,.bui-side-menu .menu-second em
	{
	background:
		url("../../img/blue2.png")
		-9999px -9999px no-repeat;
}